@import url('https://fonts.googleapis.com/css2?family=Martel + Sans:wght@600&family=Poppins:wght@300&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("assets/images/bg.jpg");
    background-position: center center;
    background-size: 100vw;
    height: 70vh;
    position: relative;
}

.main.box {
    height: 70 vh;
    width: 100%;
    opacity: 0.44;
    background-color: black;
    position: absolute;
    top: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    max-width: 80vw;
    align-items: center;
    margin: auto;
    height: 62px;
}

nav img {
    color: red;
    width: 114px;
    position: relative;
    z-index: 10;
}

.hero {
    font-family: 'Martel Sans', sans-serif;

    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: white;
    position: relative;
    gap: 23px;
}

.hero> :nth-child(1) {
    font-weight: bolder;
    font-size: 48px;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 24px;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 20px;
}

.btn {
    padding: 3px 8px;
    color: white;
    font-weight: bold;
    background-color: rgba(248, 243, 243, 0.021);
}

.btn-red {
    background-color: red;
    color: white;
}

.hero-buttons {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 16px;
}

.main input {
    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(23, 23, 23, 0.7);
}

.btn-red-sn {
    background-color: red;
    color: white;
}
  .faqbox:hover{
    background-color: rgb(37,36,36);
   
  }
.faqbox {
     transition: all 1s ease-out;
    display: flex;
    background-color: gray;
    padding: 24px;
    margin:34px auto;
    max-width: 40vw;
    cursor: pointer;
    justify-content: space-between;
}
.faq {
    background-color: black;
    color: white;
    padding: 34px;
}
.faq h2{
    text-align: center;
}
footer{
 color: white;
    max-width: 60vw;
    margin: auto;
    padding: 34px;
}
.footer{
    display: grid;
    color: white;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}
.footer a{
    
    text-decoration: none;
    color: white;
}
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    color: white;
    max-width: 60vw;
    margin: auto;


.footer-item{
    display: flex;
    flex-direction: column;
    gap: 23px;
}
footer.questions{
    padding: 34px 0;
}